Exemplos/ACBrDFe/Schemas/NFGas/procNFGas_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2025 rel. 2 (x64) (https://www.altova.com) by PROCERGS (Procergs - Centro de Tecnologia da Informação e Comunicação do Estado do Rio Grande do Sul S.A.) -->
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfgas" targetNamespace="http://www.portalfiscal.inf.br/nfgas" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="nfgasTiposBasico_v1.00.xsd"/>
	<xs:element name="nfgasProc">
		<xs:annotation>
			<xs:documentation>NFGas processada</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NFGas" type="TNFGas"/>
				<xs:element name="protNFGas" type="TProtNFGas"/>
			</xs:sequence>
			<xs:attribute name="versao" type="TVerNFGas" use="required"/>
			<xs:attribute name="ipTransmissor" type="TIPv4" use="optional">
				<xs:annotation>
					<xs:documentation>IP do transmissor do documento fiscal para o ambiente autorizador</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nPortaCon" use="optional">
				<xs:annotation>
					<xs:documentation>Porta de origem utilizada na conexão (De 0 a 65535)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,5}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dhConexao" type="TDateTimeUTC" use="optional">
				<xs:annotation>
					<xs:documentation>Data e Hora da Conexão de Origem</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>