Exemplos/ACBrDFe/Schemas/NFSe/EloTech/2.03/nfse_v2_03.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://shad.elotech.com.br/schemas/iss/nfse_v2_03.xsd"
	xmlns="http://shad.elotech.com.br/schemas/iss/nfse_v2_03.xsd"
	attributeFormDefault="unqualified" elementFormDefault="qualified">
	<!-- definition of simple elements -->
	<xsd:simpleType name="tsNumeroNfse">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDescricao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoDeducao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:minLength value="1" />
			<xsd:pattern value="M|S" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoVerificacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsStatusRps">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsStatusNfse">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsExigibilidadeISS">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5|6|7" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroProcesso">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsSenha">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
			<xsd:minLength value="6" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsInscricaoEstadual">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
			<xsd:minLength value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsRegimeEspecialTributacao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5|6|7" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsSimNao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsResponsavelRetencao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsPagina">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="1" />
			<xsd:maxInclusive value="999999" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroRps">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsSerieRps">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoRps">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsOutrasInformacoes">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsValor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14" />
			<xsd:fractionDigits value="2" fixed="true" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsValorQuantidade">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14" />
			<xsd:fractionDigits value="5" fixed="true" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsValorUnitario">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14" />
			<xsd:fractionDigits value="5" fixed="true" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsItemListaServico">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoCnae">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="7" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoTributacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsAliquota">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="7" />
			<xsd:fractionDigits value="5" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDiscriminacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoMunicipioIbge">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="7" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsInscricaoMunicipal">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsRazaoSocial">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNomeFantasia">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCnpj">
		<xsd:restriction base="xsd:string">
			<xsd:length value="14" fixed="true" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCidadeNome">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="125" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="125" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsComplementoEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsBairro">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsUf">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2" fixed="true" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoPaisBacen">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCep">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsEmail">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTelefone">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCpf">
		<xsd:restriction base="xsd:string">
			<xsd:length value="11" fixed="true" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoObra">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsArt">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroLote">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsHomologa">
		<xsd:restriction base="xsd:boolean" />
	</xsd:simpleType>
	<xsd:simpleType name="tsSituacaoLoteRps">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsQuantidadeRps">
		<xsd:restriction base="xsd:int">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoMensagemAlerta">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDescricaoMensagemAlerta">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoCancelamentoNfse">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tsChaveAcesso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{32}" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsData">
		<xsd:restriction base="xsd:date" />
	</xsd:simpleType>
	<xsd:simpleType name="tsDataHora">
		<xsd:restriction base="xsd:dateTime" />
	</xsd:simpleType>

	<xsd:simpleType name="tsXml">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNif">
	    <xsd:restriction base="xsd:string">
	        <xsd:maxLength value="40"/>
	        <xsd:minLength value="0"/>
	        <xsd:whiteSpace value="collapse"/>
	    </xsd:restriction>
    </xsd:simpleType>
        
    <xsd:simpleType name="tsUnidade">
    	<xsd:annotation>
			<xsd:documentation>
				Unidade Media (
					UN - Unidade; 
					HS - Horas; 
					M2 - Metros Quadrados
		   		)
           	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
        	<xsd:enumeration value="UN"/>
	      	<xsd:enumeration value="HS"/>
	      	<xsd:enumeration value="M2"/>
        </xsd:restriction>
	</xsd:simpleType>    
	
	<xsd:simpleType name="tsCodigoNbs">
	    <xsd:restriction base="xsd:string">
	        <xsd:maxLength value="9"/>
	        <xsd:minLength value="1"/>
	        <xsd:whiteSpace value="collapse"/>
	    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="tsNumeroAlvara">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsVersao">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[1-9]{1}[0-9]{0,1}\.[0-9]{2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tsFinNFSe">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsIndFinal">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCIndOp">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="6" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTpOper">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTpEnteGov">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsIndDest">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsRefNFSe">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsInscImobFisc">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCCIB">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCst">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="3" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCClassTrib">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="6" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCCredPres">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsClassTribReg">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="6" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsPercentual">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5" />
			<xsd:fractionDigits value="2" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsAliquotaEfetiva">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4" />
			<xsd:fractionDigits value="2" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCPais">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCEndPost">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsXCidade">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsXEstProvReg">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNaoNif">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCLocalidadeIncid">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="7" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsXLocalidadeIncid">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="600"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsVBC">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="15" />
			<xsd:fractionDigits value="2" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsVTot">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="17" />
			<xsd:fractionDigits value="2" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	
	<xsd:complexType name="tcIdentificacaoNfse">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroNfse" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- definition of complex elements -->
	<xsd:complexType name="tcCpfCnpj">
		<xsd:choice>
			<xsd:element name="Cpf" type="tsCpf" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Cnpj" type="tsCnpj" minOccurs="1"
				maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="tcEndereco">
		<xsd:sequence>
			<xsd:element name="Endereco" type="tsEndereco" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Numero" type="tsNumeroEndereco"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Complemento" type="tsComplementoEndereco"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Bairro" type="tsBairro" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="0" maxOccurs="1" />			
			<xsd:element name="Uf" type="tsUf" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="CodigoPais" type="tsCodigoPaisBacen"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Cep" type="tsCep" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="EnderecoExt" type="tcEnderecoExt" minOccurs="0"
						 maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcContato">
		<xsd:sequence>
			<xsd:element name="Telefone" type="tsTelefone" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Email" type="tsEmail" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoOrgaoGerador">
		<xsd:sequence>
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Uf" type="tsUf" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoRps">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroRps" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Serie" type="tsSerieRps" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Tipo" type="tsTipoRps" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoRequerente">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Senha" type="tsSenha" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Homologa" type="tsHomologa" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="tcIdentificacaoPrestador">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoTomador">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="tcIdentificacaoIntermediario">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosTomador">
		<xsd:sequence>
			<xsd:element name="IdentificacaoTomador" type="tcIdentificacaoTomador"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="NifTomador" type="tsNif"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="NaoNifTomador" type="tsNaoNif"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="RazaoSocial" type="tsRazaoSocial"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Contato" type="tcContato" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="InscricaoEstadual" type="tsInscricaoEstadual"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosIntermediario">
		<xsd:sequence>
			<xsd:element name="IdentificacaoIntermediario" type="tcIdentificacaoIntermediario"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="RazaoSocial" type="tsRazaoSocial"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NifIntermediaro" type="tsNif"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="NaoNifIntermediario" type="tsNaoNif"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"
						 maxOccurs="1" />
			<xsd:element name="Contato" type="tcContato" minOccurs="0"
						 maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcValoresDeclaracaoServico">
		<xsd:sequence>
			<xsd:element name="ValorServicos" type="tsValor"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValorDeducoes" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="AliquotaPis" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="RetidoPis" type="tsSimNao" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ValorPis" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="AliquotaCofins" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="RetidoCofins" type="tsSimNao" minOccurs="0"
				maxOccurs="1" />	
			<xsd:element name="ValorCofins" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="AliquotaInss" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="RetidoInss" type="tsSimNao" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ValorInss" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="AliquotaIr" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="RetidoIr" type="tsSimNao" minOccurs="0"
				maxOccurs="1" />				
			<xsd:element name="ValorIr" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="AliquotaCsll" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="RetidoCsll" type="tsSimNao" minOccurs="0"
				maxOccurs="1" />				
			<xsd:element name="ValorCsll" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="AliquotaCpp" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="RetidoCpp" type="tsSimNao" minOccurs="0"
				maxOccurs="1" />	
			<xsd:element name="ValorCpp" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="OutrasRetencoes" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="RetidoOutrasRetencoes" type="tsSimNao" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="AliquotaTotTributos" type="tsAliquota"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValTotTributos" type="tsValor"
				minOccurs="0" maxOccurs="1" />	
			<xsd:element name="ValorIss" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Aliquota" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="DescontoIncondicionado" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="DescontoCondicionado" type="tsValor"
				minOccurs="0" maxOccurs="1" />																				
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcValoresNfse">
		<xsd:sequence>
			<xsd:element name="BaseCalculo" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Aliquota" type="tsAliquota" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ValorIss" type="tsValor" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ValorLiquidoNfse" type="tsValor"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosDeducao">
		<xsd:sequence>
			<xsd:element name="TipoDeducao" type="tsTipoDeducao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Cpf" type="tsCpf" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Cnpj" type="tsCnpj" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="NumeroNotaFiscalReferencia" type="tsNumeroNfse"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorTotalNotaFiscal" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="PercentualADeduzir" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorADeduzir" type="tsValor"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcItemServico">
		<xsd:sequence>
			<xsd:element name="ItemListaServico" type="tsItemListaServico"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoCnae" type="tsCodigoCnae"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Descricao" type="tsDescricao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Unidade" type="tsUnidade"
				minOccurs="0" maxOccurs="1" />	
			<xsd:element name="Tributavel" type="tsSimNao" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Quantidade" type="tsValorQuantidade" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="ValorUnitario" type="tsValorUnitario"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValorDesconto" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorLiquido" type="tsValor"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DadosDeducao" type="tcDadosDeducao"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosServico">
		<xsd:sequence>
			<xsd:element name="Valores" type="tcValoresDeclaracaoServico"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="IssRetido" type="tsSimNao" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="ResponsavelRetencao" type="tsResponsavelRetencao"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Discriminacao" type="tsDiscriminacao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoTributacaoMunicipio" type="tsCodigoTributacao"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="CodigoNbs" type="tsCodigoNbs"
				minOccurs="0" maxOccurs="1" />	
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoPais" type="tsCodigoPaisBacen"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ExigibilidadeISS" type="tsExigibilidadeISS"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="MunicipioIncidencia" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NumeroProcesso" type="tsNumeroProcesso"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListaItensServico" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ItemServico" maxOccurs="unbounded"
							type="tcItemServico" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IBSCBS" type="tcIBSCBS"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosConstrucaoCivil">
		<xsd:sequence>
			<xsd:element name="CodigoObra" type="tsCodigoObra"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="NumeroAlvaraConstrucao" type="tsNumeroAlvara"
				minOccurs="0" maxOccurs="1" />		
			<xsd:element name="Art" type="tsArt" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Incorporacao" type="tsSimNao"
				minOccurs="0" maxOccurs="1" />			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosPrestador">
		<xsd:sequence>
			<xsd:element name="IdentificacaoPrestador" type="tcIdentificacaoPrestador"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="RazaoSocial" type="tsRazaoSocial"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NomeFantasia" type="tsNomeFantasia"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Endereco" type="tcEndereco" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Contato" type="tcContato" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfRps">
		<xsd:sequence>
			<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DataEmissao" type="tsData" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Status" type="tsStatusRps" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="RpsSubstituido" type="tcIdentificacaoRps"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfDeclaracaoPrestacaoServico">
		<xsd:sequence>
			<xsd:element name="Rps" type="tcInfRps" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Competencia" type="tsData" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="Servico" type="tcDadosServico"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Prestador" type="tcIdentificacaoPrestador"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Tomador" type="tcDadosTomador"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Intermediario" type="tcDadosIntermediario"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ConstrucaoCivil" type="tcDadosConstrucaoCivil"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="RegimeEspecialTributacao" type="tsRegimeEspecialTributacao"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="IncentivoFiscal" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="InfIbsCbs" type="tcInfIbsCbs"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDeclaracaoPrestacaoServico">
		<xsd:sequence>
			<xsd:element name="InfDeclaracaoPrestacaoServico" type="tcInfDeclaracaoPrestacaoServico"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfNfse">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroNfse" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="CodigoVerificacao" type="tsCodigoVerificacao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DataEmissao" type="tsData" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="NfseSubstituida" type="tsNumeroNfse"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="OutrasInformacoes" type="tsOutrasInformacoes"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValoresNfse" type="tcValoresNfse"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValorCredito" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrestadorServico" type="tcDadosPrestador"
				minOccurs="1" maxOccurs="1" />	
			<xsd:element name="OrgaoGerador" type="tcIdentificacaoOrgaoGerador"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DeclaracaoPrestacaoServico" type="tcDeclaracaoPrestacaoServico"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ChaveAcesso" type="tsChaveAcesso"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcNfse">
		<xsd:sequence>
			<xsd:element name="InfNfse" type="tcInfNfse" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tcInfPedidoCancelamento">
		<xsd:sequence>	
			<xsd:element name="IdentificacaoNfse" type="tcIdentificacaoNfse"
				minOccurs="1" maxOccurs="1" />		
			<xsd:element name="ChaveAcesso" type="tsChaveAcesso"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoCancelamento" type="tsCodigoCancelamentoNfse"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcPedidoCancelamento">
		<xsd:sequence>
			<xsd:element name="InfPedidoCancelamento" type="tcInfPedidoCancelamento"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcConfirmacaoCancelamento">
		<xsd:sequence>
			<xsd:element name="Pedido" type="tcPedidoCancelamento"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DataHora" type="tsDataHora" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="tcRetCancelamento">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NfseCancelamento" type="tcCancelamentoNfse"
					minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="tcCancelamentoNfse">
		<xsd:sequence>
			<xsd:element name="ConfirmacaoCancelamento" type="tcConfirmacaoCancelamento"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tcInfSubstituicaoNfse">
		<xsd:sequence>
			<xsd:element name="NfseSubstituidora" type="tsNumeroNfse"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcSubstituicaoNfse">
		<xsd:sequence>
			<xsd:element name="SubstituicaoNfse" type="tcInfSubstituicaoNfse"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tcCompNfse">
		<xsd:sequence>
			<xsd:element ref="Nfse" minOccurs="1" maxOccurs="1" />
			<xsd:element ref="NfseCancelamento" minOccurs="0"
				maxOccurs="1" />
			<xsd:element ref="NfseSubstituicao" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="Xml" type="tsXml" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcMensagemRetorno">
		<xsd:sequence>
			<xsd:element name="Codigo" type="tsCodigoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Mensagem" type="tsDescricaoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Correcao" type="tsDescricaoMensagemAlerta"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcMensagemRetornoLote">
		<xsd:sequence>
			<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Codigo" type="tsCodigoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Mensagem" type="tsDescricaoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcLoteRps">
		<xsd:sequence>
			<xsd:element name="NumeroLote" type="tsNumeroLote"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="0" maxOccurs="1" />	
			<xsd:element name="QuantidadeRps" type="tsQuantidadeRps"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ListaRps" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Rps" type="tcDeclaracaoPrestacaoServico"
							minOccurs="1" maxOccurs="unbounded" >
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
		</xsd:sequence>
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>

	<xsd:element name="ListaMensagemRetornoLote">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetornoLote"
					minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ListaMensagemRetorno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetorno"
					minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ListaMensagemAlertaRetorno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetorno"
					minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="cabecalho">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="versaoDados" type="tsVersao"
					minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="versao" type="tsVersao" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CompNfse" type="tcCompNfse" />

	<xsd:element name="Nfse" type="tcNfse" />

	<xsd:element name="NfseCancelamento" type="tcCancelamentoNfse" />

	<xsd:element name="NfseSubstituicao" type="tcSubstituicaoNfse" />

	<xsd:element name="EnviarLoteRpsEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="LoteRps" type="tcLoteRps" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="EnviarLoteRpsResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="NumeroLote" type="tsNumeroLote"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="DataRecebimento" type="tsData"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
				<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
					maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="EnviarLoteRpsSincronoEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="LoteRps" type="tcLoteRps" />
			</xsd:sequence>
		</xsd:complexType>

	</xsd:element>

	<xsd:element name="EnviarLoteRpsSincronoResposta">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NumeroLote" type="tsNumeroLote"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="DataRecebimento" type="tsData"
					minOccurs="1" maxOccurs="1" />
				<xsd:choice>
					<xsd:element name="ListaNfse" minOccurs="1" maxOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="CompNfse" minOccurs="1" maxOccurs="unbounded" />
								<xsd:element ref="ListaMensagemAlertaRetorno"
									minOccurs="0" maxOccurs="1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
						maxOccurs="1" />
					<xsd:element ref="ListaMensagemRetornoLote" minOccurs="1"
						maxOccurs="1" />
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CancelarNfseEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="Pedido" type="tcPedidoCancelamento"
					minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CancelarNfseResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="tcRetCancelamento" minOccurs="1"
					maxOccurs="1" />
				<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
					maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SubstituirNfseEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="SubstituicaoNfse" minOccurs="1"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Pedido" type="tcPedidoCancelamento" />
							<xsd:element name="Rps" type="tcDeclaracaoPrestacaoServico" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SubstituirNfseResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="RetSubstituicao">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NfseSubstituida">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="CompNfse" maxOccurs="1"
											minOccurs="1" />
										<xsd:element ref="ListaMensagemRetorno" minOccurs="0"
											maxOccurs="1" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NfseSubstituidora">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="CompNfse" maxOccurs="1"
											minOccurs="1" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
					maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="ConsultarLoteRpsEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="NumeroLote" type="tsNumeroLote"
					minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarLoteRpsResposta">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Situacao" type="tsSituacaoLoteRps"
					minOccurs="1" maxOccurs="1" />
				<xsd:choice>
					<xsd:element name="ListaNfse" minOccurs="1" maxOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="CompNfse" maxOccurs="50"
									minOccurs="1" />
								<xsd:element ref="ListaMensagemAlertaRetorno"
									minOccurs="0" maxOccurs="1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
						maxOccurs="1" />
					<xsd:element ref="ListaMensagemRetornoLote" minOccurs="1"
						maxOccurs="1" />
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseRpsEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseRpsResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="CompNfse" minOccurs="1" maxOccurs="1" />
				<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
					maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="ConsultarNfseServicoPrestadoEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="NumeroNfse" type="tsNumeroNfse"
					minOccurs="0" maxOccurs="1" />
				<xsd:choice>
					<xsd:element name="PeriodoEmissao" minOccurs="0"
						maxOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DataInicial" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
								<xsd:element name="DataFinal" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PeriodoCompetencia" minOccurs="0"
						maxOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DataInicial" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
								<xsd:element name="DataFinal" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="Tomador" type="tcIdentificacaoTomador"
					minOccurs="0" maxOccurs="1" />
				<xsd:element name="Intermediario" type="tcIdentificacaoIntermediario"
					minOccurs="0" maxOccurs="1" />
				<xsd:element name="Pagina" type="tsPagina" minOccurs="1"
					maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseServicoPrestadoResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="ListaNfse" minOccurs="1"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="CompNfse" minOccurs="1" maxOccurs="50" />
							<xsd:element name="ProximaPagina" type="tsPagina"
								minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
					maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="ConsultarNfseServicoTomadoEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="NumeroNfse" type="tsNumeroNfse"
					minOccurs="0" maxOccurs="1" />
				<xsd:choice>
					<xsd:element name="PeriodoEmissao" minOccurs="0"
						maxOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DataInicial" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
								<xsd:element name="DataFinal" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PeriodoCompetencia" minOccurs="0"
						maxOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DataInicial" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
								<xsd:element name="DataFinal" type="xsd:date"
									minOccurs="1" maxOccurs="1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="Prestador" type="tcIdentificacaoPrestador"
					minOccurs="0" maxOccurs="1" />
				<xsd:element name="Tomador" type="tcIdentificacaoTomador"
					minOccurs="0" maxOccurs="1" />
				<xsd:element name="Intermediario" type="tcIdentificacaoIntermediario"
					minOccurs="0" maxOccurs="1" />
				<xsd:element name="Pagina" type="tsPagina" minOccurs="1"
					maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseServicoTomadoResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="ListaNfse" minOccurs="1"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="CompNfse" minOccurs="1" maxOccurs="50" />
							<xsd:element name="ProximaPagina" type="tsPagina"
								minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
					maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseFaixaEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRequerente" type="tcIdentificacaoRequerente"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="Faixa" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NumeroNfseInicial" type="tsNumeroNfse"
								minOccurs="1" maxOccurs="1" />
							<xsd:element name="NumeroNfseFinal" type="tsNumeroNfse"
								minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Pagina" type="tsPagina" minOccurs="1"
					maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseFaixaResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="ListaNfse" minOccurs="1"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="CompNfse" minOccurs="1" maxOccurs="50" />
							<xsd:element name="ProximaPagina" type="tsPagina"
								minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ListaMensagemRetorno" minOccurs="1"
					maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="tcRefNfse">
		<xsd:sequence>
			<xsd:element name="refNFSe" type="tsRefNFSe" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDest">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NIF" type="tsNif" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cNaoNif" type="tsNaoNif" minOccurs="0" maxOccurs="1" />
			<xsd:element name="XNome" type="tsRazaoSocial" minOccurs="0" maxOccurs="1" />
			<xsd:element name="fone" type="tsTelefone" minOccurs="0" maxOccurs="1" />
			<xsd:element name="email" type="tsEmail" minOccurs="0" maxOccurs="1" />
			<xsd:element name="end" type="tsEndereco" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcImovel">
		<xsd:sequence>
			<xsd:element name="inscImobFisc" type="tsInscImobFisc" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cCIB" type="tsCCIB" minOccurs="0" maxOccurs="1" />
			<xsd:element name="end" type="tsEndereco" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcGIbsCbs">
		<xsd:sequence>
			<xsd:element name="Cst" type="tsCst" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cClassTrib" type="tsCClassTrib" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cCredPres" type="tsCCredPres" minOccurs="0" maxOccurs="1" />
			<xsd:element name="gTribRegular" type="tcTribRegular" minOccurs="0" maxOccurs="1" />
			<xsd:element name="gDif" type="tcDif" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcTribRegular">
		<xsd:sequence>
			<xsd:element name="CstReg" type="tsCst" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cClassTribReg" type="tsClassTribReg" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDif">
		<xsd:sequence>
			<xsd:element name="pDifUF" type="tsPercentual" minOccurs="0" maxOccurs="1" />
			<xsd:element name="pDifMun" type="tsPercentual" minOccurs="0" maxOccurs="1" />
			<xsd:element name="pDifCBS" type="tsPercentual" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcTributoIbsCbs">
		<xsd:sequence>
			<xsd:element name="gIBSCBS" type="tcGIbsCbs" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcValoresIbsCbs">
		<xsd:sequence>
			<xsd:element name="trib" type="tcTributoIbsCbs" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcEnderecoExt">
		<xsd:sequence>
			<xsd:element name="cPais" type="tsCPais" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cEndPost" type="tsCEndPost" minOccurs="0" maxOccurs="1" />
			<xsd:element name="xCidade" type="tsXCidade" minOccurs="0" maxOccurs="1" />
			<xsd:element name="xEstProvReg" type="tsXEstProvReg" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfIbsCbs">
		<xsd:sequence>
			<xsd:element name="finNFSe" type="tsFinNFSe" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indFinal" type="tsIndFinal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cIndOp" type="tsCIndOp" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tpOper" type="tsTpOper" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tpEnteGov" type="tsTpEnteGov" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indDest" type="tsIndDest" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gRefNFSe" type="tcRefNfse" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dest" type="tcDest" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="imovel" type="tcImovel" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="valores" type="tcValoresIbsCbs" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIBSCBS">
		<xsd:sequence>
			<xsd:element name="cLocalidadeIncid" type="tsCLocalidadeIncid"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="xLocalidadeIncid" type="tsXLocalidadeIncid"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pRedutor" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="valores" type="tcValoresIBSCBS" minOccurs="0"
						 maxOccurs="1" />
			<xsd:element name="totCIBS" type="tcTotCIbs" minOccurs="0"
						 maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcUfIbs">
		<xsd:sequence>
			<xsd:element name="pIBSUF" type="tsAliquotaEfetiva"
							 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pRedAliqUF" type="tsPercentual"
							 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pAliqEfetUF" type="tsAliquotaEfetiva"
							 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcMunIbs">
		<xsd:sequence>
			<xsd:element name="pIBSMun" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pRedAliqMun" type="tsPercentual"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pAliqEfetMun" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcFedCbs">
		<xsd:sequence>
			<xsd:element name="pCBS" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pRedAliqCBS" type="tsPercentual"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pAliqEfetCBS" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcValoresIBSCBS">
		<xsd:sequence>
			<xsd:element name="vBC" type="tsVBC"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="uf" type="tcUfIbs"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="mun" type="tcMunIbs"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="fed" type="tcFedCbs" minOccurs="0"
						 maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcGTribRegular">
		<xsd:sequence>
			<xsd:element name="pAliqEfeRegIBSUF" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vTribRegIBSUF" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pAliqEfeRegIBSMun" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vTribRegIBSMun" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pAliqEfeRegCBS" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vTribRegCBS" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcGTribCompraGov">
		<xsd:sequence>
			<xsd:element name="pIBSUF" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vIBSUF" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pIBSMun" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vIBSMun" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="pCBS" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vCBS" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="tcGCbsCredPres">
        <xsd:sequence>
            <xsd:element name="pCredPresCBS" type="tsAliquotaEfetiva"
                         minOccurs="0" maxOccurs="1" />
            <xsd:element name="vCredPresCBS" type="tsVTot"
                         minOccurs="0" maxOccurs="1" />
            <xsd:element name="vDifCBS" type="tsVTot"
                         minOccurs="0" maxOccurs="1" />
            <xsd:element name="vCBS" type="tsVTot"
                         minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="tcGIbsCredPres">
		<xsd:sequence>
			<xsd:element name="pCredPresIBS" type="tsAliquotaEfetiva"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vCredPresIBS" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcGIbsUfTot">
		<xsd:sequence>
			<xsd:element name="vDifUF" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vIBSUF" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcGIbsMunTot">
		<xsd:sequence>
			<xsd:element name="vDifMun" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="vIBSMun" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcGIbs">
		<xsd:sequence>
			<xsd:element name="vIBSTot" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="gIBSCredPres" type="tcGIbsCredPres"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="gIBSUFTot" type="tcGIbsUfTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="gIBSMunTot" type="tcGIbsMunTot"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcGCbs">
		<xsd:sequence>
			<xsd:element name="gCBSCredPres" type="tcGCbsCredPres"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcTotCIbs">
		<xsd:sequence>
			<xsd:element name="vTotNF" type="tsVTot"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="gTribRegular" type="tcGTribRegular"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="gTribCompraGov" type="tcGTribCompraGov" minOccurs="0"
						 maxOccurs="1" />
			<xsd:element name="gIBS" type="tcGIbs"
						 minOccurs="0" maxOccurs="1" />
			<xsd:element name="gCBS" type="tcGCbs"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>

