Exemplos/ACBrDFe/Schemas/NFSe/GeisWeb/1.01/envia_email_nfse_tomador.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmailNFSeTomador">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CnpjCpf"/>
        <xs:element name="Envia">
          <xs:complexType>
            <xs:sequence>
               <xs:element type="xs:string" name="NumeroNfse"/>
               <xs:element type="xs:string" name="EmailTomador"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>