Exemplos/ACBrDFe/Schemas/NFSe/ISSSaoPaulo/2.00/RetornoEnvioLoteRPSAsync_v02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="unqualified"
           targetNamespace="http://www.prefeitura.sp.gov.br/nfe"
           xmlns:tns="http://www.prefeitura.sp.gov.br/nfe"
           xmlns:tipos="http://www.prefeitura.sp.gov.br/nfe/tipos"
           xmlns:async="http://www.prefeitura.sp.gov.br/nfe/tipos"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:import namespace="http://www.prefeitura.sp.gov.br/nfe/tipos" schemaLocation="TiposNFe_v02.xsd" />
    <xsd:import namespace="http://www.prefeitura.sp.gov.br/nfe/tipos" schemaLocation="TiposNFeAsync_v02.xsd" />
    <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"        schemaLocation="xmldsig-core-schema_v02.xsd" />

    <xsd:element name="RetornoEnvioLoteRPSAsync">
        <xsd:annotation>
            <xsd:documentation>Schema utilizado para RETORNO de Pedidos de Envio de lote de RPS Assincrono.</xsd:documentation>
            <xsd:documentation>Este Schema XML é utilizado pelo Web Service para informar aos prestadores de serviços o resultado do pedido de envio de lote de RPS Assincrono.</xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Cabecalho" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>Cabeçalho do retorno.</xsd:documentation>
                    </xsd:annotation>

                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Sucesso" type="tipos:tpSucesso" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>Campo indicativo do sucesso do pedido do serviço.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>

                            <xsd:element name="InformacoesLote" type="async:tpInformacoesLoteAsync" minOccurs ="0" maxOccurs ="1">
                                <xsd:annotation>
                                    <xsd:documentation>Informações sobre o lote processado.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>

                        <xsd:attribute name="Versao" type="tipos:tpVersao" use="required" >
                            <xsd:annotation>
                                <xsd:documentation>Versão do Schema XML utilizado.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Erro" type="async:tpEventoAsync" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Elemento que representa a ocorrência de eventos de erro durante o processamento da mensagem XML.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>