Exemplos/ACBrDFe/Schemas/NFSe/Tinus/2.03/xmldsig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified">
    <xs:element name="Signature" type="ds:SignatureType"/>
    <xs:complexType name="SignatureType">
        <xs:sequence>
            <xs:element ref="ds:SignedInfo"/>
            <xs:element ref="ds:SignatureValue"/>
            <xs:element ref="ds:KeyInfo" minOccurs="0"/>
            <xs:element ref="ds:Object" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" use="optional"/>
    </xs:complexType>
    <xs:element name="SignedInfo" type="ds:SignedInfoType"/>
    <xs:element name="SignatureValue" type="ds:SignatureValueType"/>
    <xs:element name="KeyInfo" type="ds:KeyInfoType"/>
    <xs:element name="Object" type="ds:ObjectType"/>
    <xs:complexType name="SignedInfoType">
        <xs:sequence>
            <xs:element ref="ds:CanonicalizationMethod"/>
            <xs:element ref="ds:SignatureMethod"/>
            <xs:element ref="ds:Reference" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" use="optional"/>
    </xs:complexType>
    <xs:element name="CanonicalizationMethod" type="ds:CanonicalizationMethodType"/>
    <xs:element name="SignatureMethod" type="ds:SignatureMethodType"/>
    <xs:element name="Reference" type="ds:ReferenceType"/>
    <xs:complexType name="CanonicalizationMethodType">
        <xs:sequence>
            <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
    </xs:complexType>
    <xs:complexType name="SignatureMethodType">
        <xs:sequence>
            <xs:element name="HMACOutputLength" minOccurs="0" type="xs:integer"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
    </xs:complexType>
    <xs:complexType name="ReferenceType">
        <xs:sequence>
            <xs:element ref="ds:Transforms" minOccurs="0"/>
            <xs:element ref="ds:DigestMethod"/>
            <xs:element ref="ds:DigestValue"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" use="optional"/>
        <xs:attribute name="URI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="Type" type="xs:anyURI" use="optional"/>
    </xs:complexType>
    <xs:element name="Transforms" type="ds:TransformsType"/>
    <xs:element name="DigestMethod" type="ds:DigestMethodType"/>
    <xs:element name="DigestValue" type="ds:DigestValueType"/>
    <xs:complexType name="TransformsType">
        <xs:sequence>
            <xs:element ref="ds:Transform" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Transform" type="ds:TransformType"/>
    <xs:complexType name="TransformType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="##other" processContents="lax"/>
            <xs:element name="XPath" type="xs:string"/>
        </xs:choice>
        <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
    </xs:complexType>
    <xs:complexType name="DigestMethodType">
        <xs:sequence>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
    </xs:complexType>
    <xs:simpleType name="DigestValueType">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
    <xs:complexType name="SignatureValueType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="Id" type="xs:ID" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="KeyInfoType">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="ds:KeyName"/>
            <xs:element ref="ds:KeyValue"/>
            <xs:element ref="ds:RetrievalMethod"/>
            <xs:element ref="ds:X509Data"/>
            <xs:element ref="ds:PGPData"/>
            <xs:element ref="ds:SPKIData"/>
            <xs:element ref="ds:MgmtData"/>
            <xs:any namespace="##other" processContents="lax"/>
        </xs:choice>
        <xs:attribute name="Id" type="xs:ID" use="optional"/>
    </xs:complexType>
    <xs:element name="KeyName" type="xs:string"/>
    <xs:element name="KeyValue" type="ds:KeyValueType"/>
    <xs:element name="RetrievalMethod" type="ds:RetrievalMethodType"/>
    <xs:element name="X509Data" type="ds:X509DataType"/>
    <xs:element name="PGPData" type="ds:PGPDataType"/>
    <xs:element name="SPKIData" type="ds:SPKIDataType"/>
    <xs:element name="MgmtData" type="xs:string"/>
    <xs:complexType name="KeyValueType">
        <xs:choice>
            <xs:element ref="ds:DSAKeyValue"/>
            <xs:element ref="ds:RSAKeyValue"/>
            <xs:any namespace="##other" processContents="lax"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="DSAKeyValue" type="ds:DSAKeyValueType"/>
    <xs:element name="RSAKeyValue" type="ds:RSAKeyValueType"/>
    <xs:complexType name="DSAKeyValueType">
        <xs:sequence>
            <xs:sequence minOccurs="0">
                <xs:element name="P" type="ds:CryptoBinary"/>
                <xs:element name="Q" type="ds:CryptoBinary"/>
            </xs:sequence>
            <xs:element name="G" type="ds:CryptoBinary" minOccurs="0"/>
            <xs:element name="Y" type="ds:CryptoBinary"/>
            <xs:element name="J" type="ds:CryptoBinary" minOccurs="0"/>
            <xs:sequence minOccurs="0">
                <xs:element name="Seed" type="ds:CryptoBinary"/>
                <xs:element name="PgenCounter" type="ds:CryptoBinary"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RSAKeyValueType">
        <xs:sequence>
            <xs:element name="Modulus" type="ds:CryptoBinary"/>
            <xs:element name="Exponent" type="ds:CryptoBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetrievalMethodType">
        <xs:sequence>
            <xs:element ref="ds:Transforms" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="URI" type="xs:anyURI"/>
        <xs:attribute name="Type" type="xs:anyURI" use="optional"/>
    </xs:complexType>
    <xs:complexType name="X509DataType">
        <xs:sequence maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="X509IssuerSerial" type="ds:X509IssuerSerialType"/>
                <xs:element name="X509SKI" type="xs:base64Binary"/>
                <xs:element name="X509SubjectName" type="xs:string"/>
                <xs:element name="X509Certificate" type="xs:base64Binary"/>
                <xs:element name="X509CRL" type="xs:base64Binary"/>
                <xs:any namespace="##other" processContents="lax"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="X509IssuerSerialType">
        <xs:sequence>
            <xs:element name="X509IssuerName" type="xs:string"/>
            <xs:element name="X509SerialNumber" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PGPDataType">
        <xs:choice>
            <xs:sequence>
                <xs:element name="PGPKeyID" type="xs:base64Binary"/>
                <xs:element name="PGPKeyPacket" type="xs:base64Binary" minOccurs="0"/>
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="PGPKeyPacket" type="xs:base64Binary"/>
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SPKIDataType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="SPKISexp" type="xs:base64Binary"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ObjectType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" use="optional"/>
        <xs:attribute name="MimeType" type="xs:string" use="optional"/>
        <xs:attribute name="Encoding" type="xs:anyURI" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="CryptoBinary">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
</xs:schema>